<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P36872KG23"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-P36872KG23');
    </script>

    <script src="scripts/vue.js"></script>
    <script src="scripts/buefy.min.js"></script>
    <link rel="stylesheet" href="styles/bulmaswatch.min.css">
    <script src="scripts/index.js"></script>
</head>

<body>
<div id="app">

    <nav class="navbar is-fixed-top is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io"><strong class="is-size-5"><span style="color: lightgreen">&lt;/&gt;</span>
                TechNews</strong></a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">

        </div>
    </nav>

    <div class="container" style="padding-top: 60px;">

        <div style="width: 600px; margin: 30px auto" class="is-size-3">Tech News of the day - {{ (new
            Date()).toLocaleDateString() }}
        </div>
        <div v-for="article in articles" class="box" style="width: 600px; margin: 30px auto">

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a :href="article.url" target="_blank">
                            <img v-if="article.image" :src="article.image.contentUrl" style="width: 100%; margin-bottom: 20px">
                        </a>
                        <p class="is-size-5"><strong><a :href="article.url" target="_blank">{{ article.name }}</a></strong></p>
                        <p>{{ article.description }}</p>
                        <p style="color: gray; vertical-align: middle">
                            <img style="height: 16px; margin-right: 5px" v-if="article.provider[0].image" :src="article.provider[0].image.thumbnail.contentUrl"/>
                            <strong>{{ article.provider[0].name }}</strong>, <small>{{ timeSince(article.datePublished) }} ago</small>
                        </p>
                    </div>
                </div>
            </article>

        </div>
    </div>

</div>

<script>

</script>
</body>
</html>